{
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "printWidth": 90,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "embeddedLanguageFormatting": "auto"
}
